<app-toolbar></app-toolbar>
<div class="col-md-6 user-container">
  <h2 class="text-center">Edit User</h2>
  <form class="company-form" [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <mat-form-field  class="form-group full-width">
      <mat-label for="documentNumber">CPF/CNPJ:</mat-label>
      <input mask="CPF_CNPJ" matInput type="text" formControlName="documentNumber" name="documentNumber" class="form-control" id="documentNumber">
    </mat-form-field >

    <mat-form-field class="form-group full-width">
      <mat-label for="name">Nome Fantasia</mat-label>
      <input matInput type="text" formControlName="name" name="name" class="form-control" id="name">
    </mat-form-field >

    <mat-form-field  class="form-group full-width">
      <mat-label for="postalcode">CEP</mat-label>
      <input mask="00000-000" matInput type="text" formControlName="postalcode" name="postalcode" class="form-control" id="postalcode">
    </mat-form-field >


    <button mat-raised-button class="d-flex align-center quarter-width">Adicionar</button>
  </form>
</div>
