.company-form {
  min-width: 150px;
  width: 100%;
}
.full-width{
  width: 100%;
}
.quarter-width{
  width: 25%;
}
.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
  margin: 0 auto;
}

