<app-toolbar></app-toolbar>
<div class="col-md-6 user-container">
  <h2 class="text-center">Edit User</h2>
  <form class="company-form" [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <mat-form-field  class="form-group full-width">
      <mat-label for="cnpj">CNPJ:</mat-label>
      <input matInput type="text" formControlName="cnpj" name="cnpj" class="form-control" id="cnpj" >
    </mat-form-field >

    <mat-form-field class="form-group full-width">
      <mat-label for="fantasyName">Nome Fantasia</mat-label>
      <input matInput type="text" formControlName="fantasyName" name="fantasyName" class="form-control" id="fantasyName">
    </mat-form-field >

    <mat-form-field  class="form-group full-width">
      <mat-label for="cep">CEP</mat-label>
      <input mask="00000-000" matInput type="text" formControlName="cep" name="cep" class="form-control" id="cep">
    </mat-form-field >


    <button mat-raised-button class="d-flex align-center quarter-width">{{actionLabel}}</button>
  </form>
</div>
